@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(video/YellowstoneT.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    background: rgba(206, 204, 204, 0.445);
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(160, 160, 160, 0.486);
    transition: transform 0.3s;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login{
    font-family: Algerian;
    width: 400px;
    background: #ffffff00;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
}

.login .logo{
    text-align: center;
    margin-bottom: 20px;
}

.login .logo i{
    font-size: 100px;
}

.input_box span{
    font-size: 20px;
    font-weight: 500;
}

.input_box .icon{
    margin-bottom: 15px;
    position: relative;
}

.input_box .icon i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-right: 2px solid #ccc;
    padding: 10px;
    font-size: 18px;
}

.input_box .icon input{
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 2px solid #ccc;
    font-size: 18px;
    box-shadow: 1px 1px 2px #ffd900;
}

.login .forgot_password a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffbb00;
}

.login .forgot_password a:hover{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.login button{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    background: linear-gradient(to right, #ffd900, #fff490);
    color: #fff;
}

.login button:hover{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to left, #928b80, #e9cd72);
}

@media screen and (max-width: 425px) {
    .login{
        width: 93%;
    }
}